<div class="header">
	<h2>Our remarkable networks</h2>
	<div style="clear:both"></div>
</div>

<div class="body">
	<div class="networks">
	<% @networks.each do |network| %>
	  <div class="network">

				<p>
					<span class="title"> <%= link_to (network.name ? network.name : ""), network_path(:id => network.id) %> </span> <br /> 
					<span class="description"> <%= network.description%></span>
				</p>

		</div>
	<% end %>
	</div>
</div>

<div class="footer">
	&nbsp;
</div>