<div class="header">
	<h2>Members</h2>
</div>

<div class="body">
	<% if @members %>	
		<% @members.each do |member| %>
			<%= member.name %> <br />
		<% end %>
	<% end %>
</div>

<div class="footer">
	&nbsp;
</div>