<h3><%= @network.name %></h3> 

<div id="articles">
<% @articles.each do |article| %>

	<div class="article">
		<%= article.title %> (<%= article.source %>) <br />
		by <%= article.poster %> 
	</div>
	
	
<% end %>
</div>


