<div class="header">
	<h2> <%= current_user.name %>'s Networks</h2>
</div>


<div class="body">
	<% if @networks %>		
		<ul>
		<% @networks.each do |network| %>
		  <li><%= link_to network.name, network_path(network)  %> </li>
		<% end %>
		<ul>
	<% end %>
</div>

<div class="footer">	
	&nbsp;
</div>
